@font-face {
    font-family: 'HYXinHaiXingKaiW';
    src: url('HYXinHaiXingKaiW.woff2') format('woff2'),
         url('HYXinHaiXingKaiW.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'pacificoregular';
    src: url('pacifico-regular-webfont.woff2') format('woff2'),
         url('pacifico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}