/* @font-face {
    font-family: 'ThePeakFont';
    src: url(./ThePeakFontBeta_V0_101.ttf) format('truetype');
} */

@font-face {
    font-family: 'HYXinHaiXingKai';
    src: url(./HYXinHaiXingKaiW.ttf) format('truetype');
}